body {
    backdrop-filter: blur(100px);
    background-size: cover;
    background-color: hsl(262, 64%, 24%);
    background-image: radial-gradient(at 100% 35%, hsla(180, 77%, 34%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 58%, hsla(262, 100%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 70%, hsla(262, 100%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(180, 100%, 76%, 1) 0px, transparent 50%);
    overflow: hidden;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
